rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Wide open rules for testing - CHANGE FOR PRODUCTION
    match /{document=**} {
      allow read, write: if true;
    }
  }
}