<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn1xqUbwqdvj0L4opkgKN01P8xQTzAVDg</string>
	<key>GCM_SENDER_ID</key>
	<string>741761946381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llc.sbsquares</string>
	<key>PROJECT_ID</key>
	<string>sb-squares-100ee</string>
	<key>STORAGE_BUCKET</key>
	<string>sb-squares-100ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741761946381:ios:2a5b3122b362346015d644</string>
</dict>
</plist>